<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de la persona</title>
</head>
<body>
        <h1>Detalle de la persona</h1>
        <div>ID persona: {{persona.id}}</div>
        <div>Nombre persona: {{persona.nombre}}</div>
        <div>Apellido persona: {{persona.apellido}}</div>
        <div>Emailpersona: {{persona.email}}</div>

        <a href="{% url 'inicio' %}">INICIO</a>
</body>
</html>